.card:hover .top {
  transform: translateY(-100%);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  /* transition-property: border-bottom-right-radius, border-bottom-left-radius;
  transition-delay: 200ms; */

}

.card:hover .bottom {
  transform: translateY(0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  /* transition-property: border-bottom-right-radius, border-bottom-left-radius;
  transition-delay: 200ms; */
}